:root {
  /* Updated color scheme */
  --color-primary: #0C120C;
  --color-secondary: #C20114;
  --color-third: #C7D6D5;
  --color-accent: var(--color-secondary);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-third);
}
